{% extends 'base.html' %}

{% block main_content %}
 <div class="w-full mb-6">
  <!--  sign in container-->
  <div class="grid grid-cols-1 place-items-center mt-8">
    <!--    sign in header -->
    <div>
      <h1 class="text-blue-color text-4xl font-bold my-4 text-center">Sign Up</h1>
      <p class="text-center">Already have an account?  <a href="{% url 'user:sign_in' %}" class="text-blue-color">Sign In</a></p>
    </div>

    <!--    sign in form -->
    <form  class="sm:w-1/2 md:w-1/3 my-8" method="post" action="" >
        {% csrf_token %}
      <div class="mb-6 w-full">
        <label class="block mb-2 text-md font-bold">Username</label>
        <input type="text" name="username" class=" border text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your full name" required>
      </div>
      <div class="mb-6 w-full">
        <label class="block mb-2 text-md font-bold">Email</label>
        <input type="email" name="email" class=" border text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="ex john@doe.com" required>
      </div>
      <div class="mb-6">
        <label class="block mb-2 text-md font-bold">Password</label>
        <input type="password" name="password" class=" border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="create a password" required>
      </div>
      <div class="mb-6">
        <button type="submit" class="mt-4 bg-blue-color text-white w-full px-4 py-2 font-bold text-lg">
          Sign Up
        </button>
      </div>
    </form>
    <!--     social login buttons-->
{#    <div>#}
{#      <button type="button" class="text-white bg-[#4285F4] hover:bg-[#4285F4]/90 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#4285F4]/55 mr-2 mb-2">#}
{#        <svg class="w-4 h-4 mr-2 -ml-1" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512"><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg>#}
{#        Sign in with Google#}
{#      </button>#}
{#      <button type="button" class="text-white bg-[#3b5998] hover:bg-[#3b5998]/90 focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#3b5998]/55 mr-2 mb-2">#}
{#        <svg class="w-4 h-4 mr-2 -ml-1" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M279.1 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.4 0 225.4 0c-73.22 0-121.1 44.38-121.1 124.7v70.62H22.89V288h81.39v224h100.2V288z"></path></svg>#}
{#        Sign in with Facebook#}
{#      </button>#}
{#    </div>#}
  </div>
</div>
{% endblock %}