  <div class="w-full">
      <div class="grid grid-cols-1 hero-section bg-gray-700 bg-blend-multiply place-items-center h-screen items-center">
        <form [formGroup]="searchForm" (ngSubmit)="searchDataset()" class="sm:w-1/2 md:w-1/3 my-8">
           <div class="mb-2 w-full">
             <input formControlName="searchQuery" type="text" name="search_query" class="rounded-lg border text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-3  dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for datasets by title" required>
           </div>
          <div class="mb-6 grid grid-cols-1 place-items-center">
             <button type="submit" class="mt-4 flex justify-center bg-blue-color text-white px-4 py-2 w-1/4 font-bold">
               Submit
             </button>
          </div>
        </form>
      </div>
    </div>
