{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <link rel="stylesheet" href="{% static 'src/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>Open Data Malawi</title>
</head>
<body>
{% include './layout/Headers/header_one.html' %}
 {% block main_content %}
 {% endblock %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    {% for message in messages %}
        {% if message.tags == 'error' %}
            swal("Error", "{{ message }}", "error")
        {% elif message.tags == 'success' %}
            swal("Success", "{{ message }}", "success")
        {% endif %}
    {% endfor %}
</script>
</body>
</html>